.BarcodeScanner-label {
  width: 100%;
  height: 200px;
  border-radius: 30px;
  background-color: #eee;
  margin-bottom: 20px;
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.BarcodeScanner-input {
  position: relative;
  height: 100%;
  width: auto;
  opacity: 0;
  -moz-opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
