.FoodInfo-image {
  max-width: 100%;
  display: block;
  margin-bottom: 18px;
}

.FoodInfo-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.FoodInfo-listItem {
  padding: 5px;
  background-color: #eee;
  display: inline-block;
  border-radius: 3px;
  margin-right: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .FoodInfo {
    padding: 0px 10px;
  }
}